<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Javi Paez, pero muchos me conocen como Javitdev. Mi viaje comenzó en el sector industrial de Lanzarote, pero siempre tuve una curiosidad insaciable por la <strong>resolución de problemas complejos mediante código limpio y eficiente</strong>.
    </p>

    <p>
      Actualmente estoy cursando el <strong>Máster DWA: Desarrollo Web Avanzado – Full Stack</strong> en Nett Digital School y realizando mis prácticas en <strong>Canary Options SL (IAbot.io)</strong>. Me apasiona el ecosistema de <strong>Supabase y Next.js</strong>, con los que desarrollo soluciones escalables y modernas.
    </p>

    <p>
      Mi objetivo es seguir creciendo en el sector tecnológico, aportando valor en entornos innovadores. Cuento con certificaciones de <strong>freeCodeCamp en Responsive Web Design</strong> y poseo un nivel de <strong>Inglés B1 para desarrolladores</strong>.
    </p>
  </div>

  <img width="200" height="200" src="/javi-paez.jpg" alt="Javi Paez photo" class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>
