<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Javi Paez, pero muchos me conocen como Javitdev. Empecé en la programación por curiosidad y rápidamente me apasioné por la <strong>resolución de problemas complejos mediante código limpio y eficiente</strong>.
    </p>

    <p>
      Uno de mis mayores logros ha sido el desarrollo del <strong>DM Command Center</strong>, una herramienta integral para Dungeon Masters que integra persistencia de datos en tiempo real. Me encanta trabajar con el <strong>stack de Supabase y Next.js</strong>, ya que permiten una agilidad increíble sin sacrificar la escalabilidad.
    </p>

    <p>
      Mi objetivo es seguir creciendo como desarrollador, enfrentando nuevos retos técnicos y <strong>aportando valor a equipos de alto rendimiento</strong>. Siempre estoy en constante aprendizaje, explorando las últimas tendencias del ecosistema web.
    </p>
  </div>

  <img width="200" height="200" src="https://yt3.ggpht.com/uvGkE6HJvLg1oixdQFs6rzeUsgsA9_kIgCdReOLe-53TAPaIBjDDN0LimK_w38XeoLsHALVDjQ=s88-c-k-c0x00ffffff-no-rj" alt="Javi Paez photo" class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>
