<header class="flex items-center justify-center p-4 py-3 w:full xl:[1120px]">
  <span> </span>
  <nav class="flex flex-row space-x-10 items-center p-4 opacity-90">
    <a href="/">Inicio</a>
    <a href="/about">Sobre mí</a>
    <a href="/projects">Proyectos</a>
    <a href="/contact">Contacto</a>
  </nav>
</header>
