<a class="flex items-center gap-2 rounded-full border justify-center border-gray-300 px-4 py-2 bg-white/5 hover:scale-110 hover:bg-white/10 transition" href={Astro.props.href}
target="_blank" rel="noopener noreferrer">
    <slot />
</a>